# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite3 

# Charts
charts/tinycloud/charts/postgresql/
charts/tinycloud/charts/postgresql-16.7.24.tgz
charts/tinycloud/Chart.lock

__pycache__/
api/tinycloud/__pycache__/
api/tinycloud/data/
*.pyc
*.pyo
*.pyd
.Python
.cursorrules
.helmignore

# terraform
terraform/network/.terraform/
terraform/network/.terraform.lock.hcl
terraform/network/terraform.tfvars
terraform/instances/.terraform.lock.hcl
terraform/instances/.terraform/providers/registry.terraform.io/hashicorp/aws/6.10.0/darwin_amd64/LICENSE.txt
terraform/instances/.terraform/providers/registry.terraform.io/hashicorp/aws/6.10.0/darwin_amd64/terraform-provider-aws_v6.10.0_x5